.resize-drag {
  background-color: #29e;
  color: #000000;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  border-width:5px;	
  border-style:dashed;
  border-color:#949494;
  padding: 0px;
  margin: 30px auto;

  width: 120px;

  /* This makes things *much* easier */
  box-sizing: border-box;
  
  background-image: url(../images/disney.jpg);
  background-attachment: fixed;
  background-position: 0px 0px;
}

.resize-container {
  width: 350px;
  height: 600px;
  /*background-color: #555555;*/
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-image: url(../images/disney.jpg);
  text-align: center;
  float: left;
}

.submit-clothes {
    positon:fixed;
	margin-top: 10px;
}

body, html {height:100%;}

div.wrap {height:100%; overflow:hidden;}